body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

.container {
}

.sidebar {
    background-color: #1f201f;
}

.sidebar a, .sidebar p {
    color: #FFF;
}

.sidebar-contents {
    margin: 0 auto;
    max-width: 70%;
}

.avatar {
    margin-top: 30px;
}

.sidebar h1 a {
    text-decoration: none;
}

.sidebar nav {
    padding: 0 30px 30px 0;
}

.sidebar nav div {
    background-color: #d9dad9;
}

.sidebar nav a {
    color: black;
    text-decoration: none;
}

.widgets a {
    background-color: #4c4d4c;
    color: #d9dad9;
}

.instafeed {
    margin-top: 20px;
}

.instafeed a {
    width: 31%;
}

.instafeed img {
}





.posts {
}




.post-box {
    min-height: 200px;
}

.box-1 {
    background-color: #fefffe;
}

.box-2 {
    background-color: #f0f1f0;
}

.box-3 {
    background-color: #4599ac;
}

.box-4 {
    background-color: #4599ac;
}

.box-5 {
    background-color: #244f59;
}

.box-6 {
    background-color: #f3f4f3;
}

.box-7 {
    background-color: #434249;
}

.box-8 {
    background-color: #434249;
}

.box-9 {
    background-color: #ddf4f9;
}
